<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>HelloV1 uses Bluetooth to connect to the V1connection LE</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>HelloV1 uses Bluetooth to connect to the V1connection LE</string>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
</dict>
</plist>
